.app-card {
  background: #4f89c6;
  border-radius: 12px;
  padding: 16px 20px;
  margin: 20px 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.app-arrow {
  font-size: 30px;
  display: inline-flex;
}

.isUp {
  box-shadow: 0 6px 14px rgb(156, 242, 27);
}
.isDown {
  box-shadow: 0 6px 14px rgb(255, 25, 25);
}
