.app-card {
  background: #4f89c6;
  border-radius: 12px;
  padding: 16px 20px;
  margin: 20px 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.app-arrow {
  font-size: 1.2rem;
}

.isUp {
  box-shadow: 0 6px 14px rgb(156, 242, 27);
}
.isDown {
  box-shadow: 0 6px 14px rgb(255, 25, 25);
}
.isUp .app-arrow {
  color: #4ade80;
}

.isDown .app-arrow {
  color: #f87171;
}

.app-card-header {
  display: flex;
  align-items: center; /* ให้ตัวอักษรกับลูกศรอยู่ระดับเดียวกัน */
  gap: 8px;
}

.app-card h3 {
  margin: 0;
}
