.app-card {
  border: 4px solid rgb(141, 132, 131);
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  padding-left: 20px;
  background-color: #4988c4;
}

.app-arrow {
  font-size: 30px;
}

.isUp {
  border-color: rgb(156, 242, 27);
}
.isDown {
  border-color: rgb(255, 25, 25);
}
