.app-card {
  border: 1px solid rgb(141, 132, 131);
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  padding-left: 20px;
  background-color: rgb(233, 225, 215);
}

.app-arrow {
  font-size: 30px;
}
