.app-converter-box {
  display: flex;
  align-items: center;
  gap: 20%;
  border: 5px solid rgb(97, 91, 91);
  padding: 5%;
  border-radius: 10px;
  background-color: #4988c4;
}

.app-user-input,
.app-convert-output {
  flex: 1;
}

.app-title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #bde8f5;
}
