.app-converter-box {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 40px;
  border: 5px solid rgb(97, 91, 91);
  padding: 24px 32px;
  border-radius: 10px;
  background-color: #76aee3;
}

.app-user-input,
.app-convert-output {
  flex: 1;
}

.app-title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #bde8f5;
}

.arrow {
  font-size: 28px;
  opacity: 0.7;
}

select {
  /* Basic styling */
  background-color: #bde8f5;
  color: #333;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  /* Remove default arrow and add a custom one */
  appearance: none;
  -webkit-appearance: none;
  /* Add custom background arrow here, e.g., background: url('arrow.svg') no-repeat right center; */
}

select:hover {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 6px 20px #007bff;
}
