<h1 class="app-title">Currency Converter</h1>
<div class="app-converter-box">
  <div class="app-user-input">
    <label>
      From <br />
      <input type="number" (keyup)="inputValueChange($event.target.valueAsNumber)" />
    </label>
    <select #sel (change)="UnitChange(sel.value, outsel.value)">
      @for (item of inputCode; track item) {
      <option [value]="item">{{ item }}</option>
      }
    </select>
  </div>
  <div class="app-convert-output">
    To <br />
    <span class="app-converted">{{ outputValue() }}</span>
    <select #outsel (change)="UnitChange(sel.value, outsel.value)">
      @for (item of outputCode(); track item) {
      <option [selected]="$index == 6">{{ item }}</option>
      }
    </select>
  </div>
</div>
