<h1 class="app-title">Currency Converter</h1>
<div class="app-converter-box">
  <div class="app-user-input">
    <label>
      From <br />
      <input type="number" (change)="inputValueChange($event.target.valueAsNumber)" />
    </label>
    <select #sel (change)="inputUnitChange(sel.value)">
      @for (item of inputCode; track item) {
      <option [value]="item">{{ item }}</option>
      }
    </select>
  </div>
  <div class="app-convert-output">
    To <br />
    <span class="app-converted">{{ convertedValue() }}</span>
    <select #outsel (change)="outputUnitChange(outsel.value)">
      @for (item of outputCode(); track item) {
      <option [selected]="($index == 1 || $index == 0) && item != inputUnit()">{{ item }}</option>
      }
    </select>
  </div>
</div>
