.app-converter-box {
  display: flex;
  align-items: center;
  gap: 20%;
  border: 1px solid black;
  padding: 5%;
}

.app-user-input,
.app-convert-output {
  flex: 1;
}

.app-title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
