nav {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  margin-bottom: 40px;
  margin-top: 30px;
}
a {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  &:hover {
    background-color: rgb(142, 144, 204);
    text-decoration: underline;
  }
  & .is-active {
    text-decoration: underline;
    background-color: rgb(147, 144, 144);
  }
}
