.app-title {
  border-top: 1px solid #bde8f5;
  padding-top: 60px;
  margin-top: 80px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #d0e2e8;
  font-size: 39px;
}
.app-switch {
  margin-right: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 5px;
  &:active {
    box-shadow: 3px 5px #2d2c2c;
    transform: translateY(4px);
  }
  &:hover {
    box-shadow: 0 3px 20px #217eff;
    border-color: #217eff;
  }
}

h2 {
  display: inline-flex;
  align-items: center;
  color: #bde8f5;
  gap: 8px;
  padding: 6px 14px;
  border-radius: 20px;
  // background: #aac2ec;
  font-weight: 600;
}
