.app-title {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.app-switch {
  margin-right: 30px;
  font-size: 15px;
  margin-left: 10px;
  font-weight: bold;
  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}
